@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  color: #11629b;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: #11629b;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #11629b;
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 28px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

.button {
  padding: 13px 49px;
  color: #11629b;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 64px;
  background-color: #ffffff;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .button {
    padding: 8px 22px;
    font-size: 10px;
    border: 1px solid #ffffff;
  }
}
.button:hover {
  color: #ffffff;
  background-color: #11629b;
}

.title {
  margin: 0 0 95px;
  color: #ffffff;
  font-size: 67px;
  font-style: normal;
  font-weight: 800;
  line-height: 164%;
}
@media (max-width: 1200px) {
  .title {
    font-size: 57px;
  }
}
@media (max-width: 1024px) {
  .title {
    margin: 0 0 65px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .title {
    text-align: center;
    margin: 0 0 30px;
    font-size: 19px;
  }
}

.first-screen {
  margin-top: 157px;
  padding: 0px 0 176px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .first-screen {
    margin-top: 115px;
    padding: 0px 0 82px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    padding: 0px 0 40px;
  }
}
@media (max-width: 576px) {
  .first-screen {
    margin-top: 48px;
  }
}
.first-screen .container {
  position: relative;
}
.first-screen__title {
  margin: 0 0 40px;
}
@media (max-width: 1200px) {
  .first-screen__title {
    margin: 0 0 16px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    text-align: left;
  }
}
.first-screen__description {
  max-width: 804px;
  width: 54%;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}
@media (max-width: 1024px) {
  .first-screen__description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .first-screen__description {
    width: auto;
    max-width: none;
  }
}
@media (max-width: 576px) {
  .first-screen__description {
    font-size: 12px;
  }
}
.first-screen__map {
  position: absolute;
  top: 193px;
  left: 46%;
  z-index: -1;
}
@media (max-width: 1200px) {
  .first-screen__map {
    top: 50%;
    left: auto;
    right: -76px;
    width: 594px;
    max-width: calc(50% + 76px);
    transform: translateY(-50%);
  }
}
@media (max-width: 768px) {
  .first-screen__map {
    position: static;
    width: auto;
    max-width: none;
    transform: none;
  }
}
@media (max-width: 1024px) {
  .first-screen__map-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.first-screen__buttons {
  display: flex;
  justify-content: flex-start;
  margin: 64px 0 0;
}
@media (max-width: 1024px) {
  .first-screen__buttons {
    justify-content: flex-end;
    margin: 4px 0 0;
  }
}
@media (max-width: 768px) {
  .first-screen__buttons {
    justify-content: center;
    margin: 16px 0 0;
  }
}

.services__title {
  margin: 0 0 95px;
}
@media (max-width: 1024px) {
  .services__title {
    margin: 0 0 65px;
  }
}
@media (max-width: 576px) {
  .services__title {
    margin: 0 0 30px;
  }
}
.services__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px 30px;
}
@media (max-width: 1024px) {
  .services__cards {
    gap: 42px 20px;
  }
}
@media (max-width: 576px) {
  .services__cards {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
.services__card {
  flex: 0 0 calc(33.3333333333% - 20px);
  max-width: calc(33.3333333333% - 20px);
}
@media (max-width: 1024px) {
  .services__card {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 576px) {
  .services__card {
    flex: 0 1 auto;
    max-width: 264px;
    width: 100%;
  }
}
.services__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 334px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 40px;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .services__card-figure {
    height: 280px;
  }
}
@media (max-width: 576px) {
  .services__card-figure {
    height: 120px;
  }
}
.services__card-figure-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.services__card-title {
  width: calc(100% - 1px);
  color: #ffffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  overflow-wrap: break-word;
}
@media (max-width: 1024px) {
  .services__card-title {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .services__card-title {
    font-size: 15px;
  }
}