@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
html {
  color: #11629b;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: #11629b;
}

a,
button,
input,
textarea {
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: #11629b;
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1696px;
  margin: 0 auto;
  padding: 0 28px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

.button {
  padding: 13px 49px;
  color: #11629b;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 64px;
  background-color: #ffffff;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .button {
    padding: 8px 22px;
    font-size: 10px;
    border: 1px solid #ffffff;
  }
}
.button:hover {
  color: #ffffff;
  background-color: #11629b;
}

.title {
  margin: 0 0 95px;
  color: #ffffff;
  font-size: 67px;
  font-style: normal;
  font-weight: 800;
  line-height: 164%;
}
@media (max-width: 1200px) {
  .title {
    font-size: 57px;
  }
}
@media (max-width: 1024px) {
  .title {
    margin: 0 0 65px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .title {
    text-align: center;
    margin: 0 0 30px;
    font-size: 19px;
  }
}

.first-screen {
  margin-top: 157px;
  padding: 0px 0 176px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .first-screen {
    margin-top: 115px;
    padding: 0px 0 82px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    padding: 0px 0 40px;
  }
}
@media (max-width: 576px) {
  .first-screen {
    margin-top: 48px;
  }
}
.first-screen .container {
  position: relative;
}
.first-screen__title {
  margin: 0 0 40px;
}
@media (max-width: 1200px) {
  .first-screen__title {
    margin: 0 0 16px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    text-align: left;
  }
}
.first-screen__description {
  max-width: 804px;
  width: 54%;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}
@media (max-width: 1024px) {
  .first-screen__description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .first-screen__description {
    width: auto;
    max-width: none;
  }
}
@media (max-width: 576px) {
  .first-screen__description {
    font-size: 12px;
  }
}
.first-screen__map {
  position: absolute;
  top: 193px;
  left: 46%;
  z-index: -1;
}
@media (max-width: 1200px) {
  .first-screen__map {
    top: 50%;
    left: auto;
    right: -76px;
    width: 594px;
    max-width: calc(50% + 76px);
    transform: translateY(-50%);
  }
}
@media (max-width: 768px) {
  .first-screen__map {
    position: static;
    width: auto;
    max-width: none;
    transform: none;
  }
}
@media (max-width: 1200px) {
  .first-screen__map-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.first-screen__buttons {
  display: flex;
  justify-content: flex-start;
  margin: 64px 0 0;
}
@media (max-width: 1024px) {
  .first-screen__buttons {
    justify-content: flex-end;
    margin: 4px 0 0;
  }
}
@media (max-width: 768px) {
  .first-screen__buttons {
    justify-content: center;
    margin: 16px 0 0;
  }
}

.services__title {
  margin: 0 0 95px;
}
@media (max-width: 1024px) {
  .services__title {
    margin: 0 0 65px;
  }
}
@media (max-width: 576px) {
  .services__title {
    margin: 0 0 30px;
  }
}
.services__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px 30px;
}
@media (max-width: 1024px) {
  .services__cards {
    gap: 42px 20px;
  }
}
@media (max-width: 576px) {
  .services__cards {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
.services__card {
  flex: 0 0 calc(33.3333333333% - 20px);
  max-width: calc(33.3333333333% - 20px);
}
@media (max-width: 1024px) {
  .services__card {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 576px) {
  .services__card {
    flex: 0 1 auto;
    max-width: 264px;
    width: 100%;
  }
}
.services__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 334px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 40px;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .services__card-figure {
    height: 280px;
  }
}
@media (max-width: 576px) {
  .services__card-figure {
    height: 120px;
  }
}
.services__card-figure-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.services__card-title {
  width: calc(100% - 1px);
  margin: 8px 0 0;
  color: #ffffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  overflow-wrap: break-word;
}
@media (max-width: 1024px) {
  .services__card-title {
    margin: 6px 0 0;
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .services__card-title {
    margin: 10px 0 0;
    font-size: 15px;
  }
}

.news {
  padding: 96px 0;
}
@media (max-width: 1024px) {
  .news {
    padding: 72px 0;
  }
}
@media (max-width: 576px) {
  .news {
    padding: 40px 0;
  }
}
.news .container {
  max-width: 1420px;
}
.news__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .news__wrapper {
    gap: 25px;
    max-width: 765px;
  }
}
@media (max-width: 576px) {
  .news__wrapper {
    justify-content: center;
    gap: 20px;
  }
}
.news__card {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  padding: 44px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 40px;
  color: #11629b;
  background-color: #ffffff;
  transition: max-height ease-in-out 0.2s;
  will-change: max-height;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .news__card {
    padding: 21px;
  }
}
@media (max-width: 576px) {
  .news__card {
    max-height: 46px;
    max-width: 264px;
    width: 100%;
    padding: 11px 11px 16px;
    border-radius: 24px;
  }
}
@media (max-width: 576px) {
  .news__card:hover {
    max-height: 1000px;
  }
}
.news__card_small {
  flex: 0 0 calc(50% - 15px);
}
@media (max-width: 1024px) {
  .news__card_small {
    flex: 0 0 calc(50% - 12.5px);
  }
}
@media (max-width: 576px) {
  .news__card_small {
    flex: 1 1 100%;
  }
}
.news__card-title {
  max-width: 1082px;
  margin: 0 auto;
  color: #11629b;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .news__card-title {
    font-size: 21px;
  }
}
@media (max-width: 576px) {
  .news__card-title {
    font-size: 11px;
    line-height: 24px;
  }
}
.news__card-description {
  max-width: 1082px;
  margin: 28px auto 6px;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.345px;
}
@media (max-width: 1024px) {
  .news__card-description {
    margin: 12px auto 6px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .news__card-description {
    font-size: 10px;
  }
}
.news__card-date {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .news__card-date {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .news__card-date {
    font-size: 10px;
  }
}

.recalls .container {
  max-width: 1420px;
}
.recalls__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 95px 30px;
}
@media (max-width: 1024px) {
  .recalls__wrapper {
    gap: 25px;
  }
}
@media (max-width: 576px) {
  .recalls__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.recalls__card {
  flex: 0 0 calc(50% - 15px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 40px;
  background-color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .recalls__card {
    flex: 0 0 calc(50% - 12.5px);
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .recalls__card {
    flex: 0 1 auto;
    max-width: 264px;
    width: 100%;
  }
}
.recalls__card-title {
  margin: 0;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .recalls__card-title {
    font-size: 21px;
  }
}
@media (max-width: 576px) {
  .recalls__card-title {
    font-size: 11px;
  }
}

.contacts {
  padding: 95px 0 28px;
}
@media (max-width: 1024px) {
  .contacts {
    padding: 55px 0 21px;
  }
}
@media (max-width: 576px) {
  .contacts {
    padding: 40px 0 0px;
  }
}
.contacts .container {
  max-width: 1420px;
  display: flex;
  gap: 67px;
}
@media (max-width: 1024px) {
  .contacts .container {
    gap: 41px;
  }
}
@media (max-width: 768px) {
  .contacts .container {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .contacts .container {
    flex: 0 1 auto;
    flex-direction: column;
    align-items: center;
  }
}
.contacts__info {
  flex: 0 0 352px;
  display: flex;
  flex-direction: column;
  gap: 49px;
  color: #11629b;
}
@media (max-width: 576px) {
  .contacts__info {
    flex: 0 1 auto;
    gap: 30px;
    max-width: 264px;
    width: 100%;
  }
}
.contacts__info-block {
  padding: 30px 30px 47px;
  padding-left: 98px;
  border-radius: 40px;
  background-color: #ffffff;
  background-image: url(../assets/logo.svg);
  background-position: top 40px left 18px;
  background-repeat: no-repeat;
}
.contacts__info-title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 16px;
  padding-bottom: 0px;
  font-family: "Nunito Sans";
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.495px;
  text-transform: capitalize;
  border-bottom: 2px solid #11629b;
}
@media (max-width: 576px) {
  .contacts__info-title {
    font-size: 23px;
  }
}
.contacts__info-location, .contacts__info-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.27px;
}
@media (max-width: 576px) {
  .contacts__info-location, .contacts__info-link {
    font-size: 14px;
  }
}
.contacts__info-location {
  margin: 0 0 12px;
}
.contacts__info-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.contacts__info-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__map {
  flex: 1 1 auto;
  overflow: hidden;
  border-radius: 40px;
}
@media (max-width: 576px) {
  .contacts__map {
    flex: 0 1 auto;
    max-width: 264px;
    height: 148px;
    width: 100%;
  }
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
}