.footer {
  padding: 95px 0 88px;

  @include laptop {
    padding: 55px 0 71px;
  }

  @include mobile {
    padding: 40px 0 58px;
  }

  & * {
    color: $white;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 29px;
    max-width: 1138px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__ank-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    max-width: 300px;
    color: $white;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    @include tablet {
      align-items: center;
      text-align: center;
    }

    @include mobile {
      font-size: 10px;
    }

    & img {
      height: 64px;
    }
  }

  &__copyright {
    color: $white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @include mobile {
      font-size: 8px;
    }
  }
}
