.services {
  &__title {
    margin: 0 0 95px;

    @include laptop {
      margin: 0 0 65px;
    }

    @include mobile {
      margin: 0 0 30px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 30px;

    @include laptop {
      gap: 42px 20px;
    }

    @include mobile {
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__card {
    flex: 0 0 calc(100% / 3 - 30px / 3 * 2);
    max-width: calc(100% / 3 - 30px / 3 * 2);

    @include laptop {
      flex: 0 0 calc(100% / 2 - 20px / 2);
      max-width: calc(100% / 2 - 20px / 2);
    }

    @include mobile {
      flex: 0 1 auto;
      max-width: 264px;
      width: 100%;
    }

    &.active::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 200;
      background-color: rgba($color: $blue, $alpha: 0.7);
      backdrop-filter: blur(20px);
    }

    &-figure {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 334px;
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 40px;
      background-color: $white;
      transition: transform ease-in-out 0.2s;
      cursor: pointer;

      @include laptop {
        height: 280px;
      }

      @include mobile {
        height: 120px;
      }

      &-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }

    &-title {
      width: calc(100% - 1px);
      margin: 8px 0 0;
      color: $white;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      overflow-wrap: break-word;
      transition: transform ease-in-out 0.2s;
      cursor: pointer;

      @include laptop {
        margin: 6px 0 0;
        font-size: 40px;
      }

      @include mobile {
        margin: 10px 0 0;
        font-size: 15px;
      }
    }

    &:hover &-figure, &:hover &-title {
      transform: translateY(-20px);
    }

    &.active &-modal {
      transform: translateX(-50%) translateY(-50%);
    }

    &-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 201;
      max-height: 94vh;
      max-width: 1640px;
      width: 94vw;
      padding: 32px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 40px;
      background-color: $white;
      transform: translateX(-240vw) translateY(-50%);
      transition: transform ease-in-out 0.2s;
      will-change: transform;

      @include laptop {
        padding: 30px 18px;
      }

      @include tablet {
        padding: 12px 15px;
        border-radius: 20px;
      }

      

      &-heading {
        margin: 0 0 55px;
        color: $blue;
        font-family: "Montserrat";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        @include laptop {
          margin: 0 0 30px;
          font-size: 38px;
        }

        @include tablet {
          margin: 0 0 15px;
          padding: 0 24px;
          font-size: 15px;
          text-align: center;
        }
      }

      &-close {
        content: "";
        position: absolute;
        top: 80px;
        right: 60px;
        display: block;
        width: 44px;
        height: 44px;
        border: none;
        background: url(../assets/close.svg) center no-repeat;
        background-size: 100%;
        transition: $baseTransition;
        cursor: pointer;

        @include desktop {
          top: 50px;
          right: 45px;
          width: 29px;
          height: 29px;
        }

        @include tablet {
          top: 20px;
          right: 15px;
          width: 11px;
          height: 11px;
        }

        &:hover {
          transform: scale(1.08);
        }

        &:active {
          transform: scale(1);
        }
      }

      &-body {
        display: flex;
        flex-wrap: wrap;
        min-height: max-content;
        height: 60vh;
        overflow: auto;
        gap: 55px 34px;
        max-width: 1362px;
        margin: 0 auto;
        color: $blue;

        @include laptop {
          gap: 20px 35px;
          max-width: 768px;
        }

        @include mobile {
          max-width: calc(100% - 32px);
        }

        &::-webkit-scrollbar {
          width: 4px;
        }
  
        &::-webkit-scrollbar-thumb:vertical {
          border-radius: 16px;
          background-color: rgba($color: $black, $alpha: 0.25);
        }
      }

      &-figure {
        flex: 1 1 58%;
        height: 565px;
        overflow: hidden;
        border-radius: 40px;

        @include desktop {
          height: 480px;
        }

        @include laptop {
          height: 320px;
        }

        @include tablet {
          flex: 1 1 100%;
          height: 265px;
          border-radius: 20px;
        }

        @include mobile {
          height: 165px;
        }

        &-image {
          display: block;
          max-width: 100%;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &-advantages {
        flex: 1 1 calc(42% - 64px);
        display: flex;
        flex-direction: column;
        gap: 23px;
        margin: 0;

        @include desktop {
          gap: 17px;
        }

        @include laptop {
          gap: 13px;
        }

        @include tablet {
          flex: 1 1 100%;
        }

        @include mobile {
          gap: 9px;
        }

        &-item {
          font-family: "Nunito Sans";
          font-size: 23px;
          font-style: normal;
          font-weight: 700;
          line-height: 180%;
          letter-spacing: 1.38px;

          @include desktop {
            font-size: 17px;
          }

          @include laptop {
            font-size: 13px;
          }

          @include mobile {
            font-size: 9px;
          }
        }
      }

      &-info {
        flex: 1 1 100%;
        color: $blue;
        font-family: "Nunito Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 180%;
        letter-spacing: 1.44px;

        @include laptop {
          font-size: 14px;
        }

        @include mobile {
          font-size: 10px;
        }

        & p,
        & ul {
          margin: 0;
        }
      }

      &-disclaimer {
        flex: 1 1 100%;
        max-width: 1024px;
        margin: 0 auto;
        font-family: "Nunito Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 180%;
        letter-spacing: 0.84px;
        text-align: center;

        @include laptop {
          max-width: 610px;
          font-size: 14px;
        }

        @include mobile {
          max-width: calc(100% - 48px);
          font-size: 10px;
        }
      }

      &-buttons {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .button {
          color: $white;
          border-color: $blue;
          background-color: $blue;

          &:hover {
            color: $blue;
            background-color: $white;
          }
        }
      }
    }
  }
}
