.title {
  margin: 0 0 95px;
  color: $white;
  font-size: 67px;
  font-style: normal;
  font-weight: 800;
  line-height: 164%;

  @include desktop {
    font-size: 57px;
  }

  @include laptop {
    margin: 0 0 65px;
  }

  @include tablet {
    font-size: 32px;
  }

  @include mobile {
    text-align: center;
    margin: 0 0 30px;
    font-size: 19px;
  }
}
